{% load wagtailimages_tags %}

<div id="carousel" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		{% for sub_block in self %}
		{% image sub_block.value original as carousel_img %}
		<div class="carousel-item {%if forlopp.first%}active{% endif %}">
			<img src="{{ carousel_img.url }}" class="d-block w-100" alt="{{ carousel_img.alt }}">
		</div>
		{% endfor %}
	</div>
	<a class="carousel-control-prev" href="#carousel" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
